
.centerElement{
    display: flex;
    align-items: center;
    justify-content: center;
}
.divSignUp{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}
// #password{
//     &::-moz-placeholder{
//         background-color: aqua  ;
//     }
//     background-color: aqua  ;
//   &:focus{
//     // border: 1.5px solid #2d08a9;
//     background-color: purple;
//   }
//   &:active{
//     background-color: #212121;
//   }
//   &:focus-visible{
//     background-color: #212121;
//   }
// }

